body {
    height: 1000px;

    display: flex;
    flex-direction: row;
}

app-scenario {
    flex: 1;

    min-height: 100%;
}

app-graph  {
    flex: 1;
    min-height: 100%;
    border: 1px solid black;

    margin-left: -1px;
    margin-right: -1px;
}