body {
    height: 1000px;

    display: flex;
    flex-direction: row;
}

app-scenario {
    flex: 1;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

app-graph  {
    flex: 4;
    min-height: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;

    margin-left: -1px;
    margin-right: -1px;
}