#editSourcePopup {
  display: block;
  height: 800px;
}

#nameRow {
  display: block;
}

#sourceName {
  display: inline-block;
  font-size: 20px;
  padding: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#editSourcebutton {
  float: right;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.row {
  display: block;
  margin-left: 10px;
}
