.name {
  padding-left: 5px;
}

.expand {
  margin-right: 5px;
}

.popup {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 500;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.popup_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid black;
}

.popup_name {
  font-size: 20px;
  margin: 5px;
}

.popup_close {
  margin: 5px;
}

app-source {
  border-bottom: 1px solid black;
}
