<div class="name"> {{name}} </div>
<button class="expand" (click)="popupShowing = true">+</button>
<!-- <app-source *ngFor="let source of sources; index as i; first as isFirst"></app-source> -->
<div *ngIf="popupShowing" class="popup">
  <div class="popup_header">
    <div class="popup_name"> {{name}} </div>
    <button class="popup_close" (click)="popupShowing = false">X</button>
  </div>
  <app-source *ngFor="let source of sources; index as i; first as isFirst" [name]="source.name" [thisAsObject]="source">lorem ipsum</app-source>
</div>
